<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    cacheResult="false"
    verbose="true"
    colors="true"
    bootstrap="vendor/autoload.php"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage/xml"/>
            <html outputDirectory="build/coverage/html" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="GraphQL">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="true"/>
    </php>
</phpunit>
